<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect IV</title>
</head>
<body>
  <main class="wrapper">
    <img src="images/Logo.png" alt="">
    <div class="container">
      <aside class="player1">
        <p>Player 1</p>
        <p>Playing as white</p>
        <div class="whiteDisk">
          <img src="images/flame.png" alt="">
        </div>
      </aside>
      <div class="board">
        <div class="lefSide"></div>
        <div class="mainBoard">
          <div class="column">
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
          </div>
          <div class="column">
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
          </div>
          <div class="column">
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
          </div>
          <div class="column">
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
          </div>
          <div class="column">
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
          </div>
          <div class="column">
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
          </div>
          <div class="column">
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
            <div class="holedSquare"></div>
          </div>
        </div>
        <div class="rightSide"></div>
      </div>
      <aside class="player2">
        <p>Player 2</p>
        <p>Playing as blue</p>
        <div class="blueDisk">
          <img src="images/flame2.png" alt="">
        </div>
      </aside>
    </div>
  </main>
</body>
</html>