<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect IV</title>
</head>
<body>
  <main class="wrapper">
    <img src="images/Logo.png" alt="">
    <p>A better version of the popular childhood game, connect-4. The two players take turns after one another, each using different colored disks. The goal of the game is to have four disks in a line, it can be either horizontal, vertical or diagonal. The first one to connect 4 wins the game.</p>
    <table>
      <tr>
        <td class="analytic">Win% blue</td>
        <td class="value">50.0%</td>
      </tr>
      <tr>
        <td class="analytic">Win% white</td>
        <td class="value">50.0%</td>
      </tr>
      <tr>
        <td class="analytic">Ongoing games</td>
        <td class="value">1.750</td>
      </tr>
      <tr>
        <td class="analytic">Total games played</td>
        <td class="value">1.000.000</td>
      </tr>
    </table>
    <button>start playing</button>
  </main>
</body>
</html>