<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect IV</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/splash.css">
</head>
<body>
  <main class="wrapper">
    <img src="images/Logo.png" alt="">
    <span class="info">&#9432;</span>
    <p>A better version of the popular childhood game, connect-4. The two players take turns after one another, each using different colored disks. The goal of the game is to have four disks in a line, it can be either horizontal, vertical or diagonal. The first one to connect 4 wins the game.</p>
    <table>
      <colgroup>
        <col span="1" style="width: 50%;">
        <col span="1" style="width: 50%;">
      </colgroup>
      <tr>
        <td class="analytic">Win% blue</td>
        <td class="value"><%= (total == 0) ? "0.0" : (blueWins/total*100).toFixed(1) %>%</td>
      </tr>
      <tr>
        <td class="analytic">Win% white</td>
        <td class="value"><%= (total == 0) ? "0.0" : (whiteWins/total*100).toFixed(1) %>%</td>
      </tr>
      <tr>
        <td class="analytic">Ongoing games</td>
        <td class="value"><%= ongoing %></td>
      </tr>
      <tr>
        <td class="analytic">Total games played</td>
        <td class="value"><%= total %></td>
      </tr>
    </table>
    <form action="/play" method="get">
      <button>start playing</button>
    </form>
  </main>
</body>
</html>