@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

:root {
  --game-blue: #00A6D6;
  --game-grey: #222629;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Body is a grid so this fits the requirement */
body {
  background-color: var(--game-grey);
  display: grid;
  place-items: center;
  height: 100vh;
}

.info {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  cursor: pointer;
}

/* Pseudo element and position absolute */
.info:hover::after {
  content: "Game made by Joris Belder & Hanna Heinczinger";
  font-size: 12px;
  font-family: Roboto;
  width: fit-content;
  white-space: pre;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  color: white
}

@media only screen and (max-height: 900px) {
  .info:hover::after {
    content: "Game made by Joris Belder & Hanna Heinczinger\AIt is preferable to use a screenheight greater than 900px";
  }
}

main.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 750px;
}

.wrapper > img {
  max-width: 450px;
  height: auto;
  position: relative;
}

.wrapper p {
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
  color: white;
  text-align: center;
}