@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

:root {
  --game-blue: #00A6D6;
  --game-grey: #222629;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--game-grey);
  display: grid;
  place-items: center;
  height: 100vh;
}

main.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 750px;
}

.wrapper > img {
  max-width: 450px;
  height: auto;
}

.wrapper p {
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
  color: white;
  text-align: center;
}

.wrapper td {
  font-size: 15px;
  font-family: Roboto;
  color: white;
}

.wrapper td.analytic {
  color: var(--game-blue);
  text-align: right;
  padding-right: 10px;
}
.wrapper td.value {
  padding-left: 10px;
}

button {
  text-transform: uppercase;
  background-color: var(--game-blue);
  outline: 0;
  border: 0;
  margin-top: 20px;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
  color: white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: color .3s, background-color .3s;
}

button:hover {
  color: var(--game-blue);
  background-color: white;
}

button:active {
  transition: color .1s;
  color: var(--game-gray)
}

.whiteDisk {
  border: 5px solid var(--game-blue);
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,50%);
}

.blueDisk {
  border: 5px solid white;
  background-color: var(--game-blue);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,50%);
}

.whiteDisk img, .blueDisk img {
  transform-origin: center;
  transform: translate(-50%, -50%) rotateZ(-15deg);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  align-items: center;
}

aside p {
  text-transform: uppercase;
  white-space: nowrap;
}

.player1 p {
  text-align: right;
}

.player2 p {
  text-align: left;
  color: var(--game-blue);
}

.player1 .whiteDisk {
  float: right;
  margin-top: 10px;
}

.player2 .blueDisk {
  float: left;
  margin-top: 10px;
}

.mainBoard, .board {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.holedSquare {
  width: 100px;
  height: 100px;
}